.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 30px;
}
.spent-time-container {
  box-sizing: border-box;
  width: 411px;
  height: 80px;

  background: rgba(96, 71, 236, 0.1);
  border: 1px solid #6047ec;
  border-radius: 8px;
}
.bookmarked-blogs {
  width: 411px;
  height: 1352px;

  background: rgba(17, 17, 17, 0.05);
  border-radius: 8px;
}
.blogs {
  text-align: center;
  padding-top: 20px;
}
.title-side-bar {
  background: #ffffff;
  border-radius: 8px;
  width: 300px;
  height: 98px;
  margin-left: 30px;
  margin-bottom: 16px;
  padding: 15px;

  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;

  color: #111111;
}
